<section data-ng-controller="ProductsController">
    <div class="page-header">
        <h1>Ingresar Juguete</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                 <div class="form-group">
                    <label class="control-label" for="name">Nombre</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="nombre" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="category">Categoria</label>
                    <div class="controls">
                        <select data-ng-model="category" class="form-control" id="category" ng-options="item._id as item.name for item in categories" placeholder="Category" required></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="quantityPerUnit">Cantidad por embarco</label>
                    <div class="controls">
                        <input type="text" data-ng-model="quantityPerUnit" id="quantityPerUnit" class="form-control" placeholder="Cantidad" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="unitPrice">Precio Unitario</label>
                    <div class="controls">
                        <input type="text" data-ng-model="unitPrice" id="unitPrice" class="form-control" placeholder="Precio Unitario" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="unitsInStock">Unidades Disponibles</label>
                    <div class="controls">
                        <input type="text" data-ng-model="unitsInStock" id="unitsInStock" class="form-control" placeholder="unidades disponibles" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="unitsOnOrder">Unidades ordenadas</label>
                    <div class="controls">
                        <input type="text" data-ng-model="unitsOnOrder" id="unitsOnOrder" class="form-control" placeholder="Unidades ordenadas" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="discontinued">Activo</label>
                    <div class="controls">
                        <input type="checkbox" data-ng-model="discontinued" id="discontinued" class="form-control" placeholder="discontinued" required>
                    </div>
                </div>
                <!--<div class="form-group">
                    <label class="control-label" for="image">Imagen</label>
                    <div class="controls">
                        <input type="file" data-ng-model="image" id="image" class="form-control"required>
                        <br/>
                    </div>
                </div>
                -->
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
